* {
    padding: 0;
    margin: 0;
}

/* .cdm */
.cdm-border {
    border:1.2px solid rgba(0,0,0,.12);
}
.mdui-theme-layout-dark .cdm-border {
    border:1.2px solid rgba(255,255,255,.12);
}
.cdm-bg{
    color:rgba(0,0,0,.87)!important;
    background-color:#fff!important
}
.mdui-theme-layout-dark .cdm-bg{
    color:#fff!important;
    background-color:#212121!important
}

.cdm-title1 {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
}
.mdui-theme-layout-dark .cdm-title1{
  color: rgba(255, 255, 255, 0.7);
}

.cdm-transition {
  -webkit-transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.cdm-hover {
  -webkit-transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.cdm-hover:hover {
  background-color: rgba(0, 0, 0, 0.08);
}



.mdui-theme-layout-dark .cdm-hover:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.mdui-appbar-with-searchbar {
  padding-top: 64px;
}
.search-bar {
  display: flex;
  margin: 7px 8px 8px;
  height: 49px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .24);
  background: #FAFAFA;
  align-items: center;
  border-radius: 2px;
}
.search-bar > input {
  flex: 1 1;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-family: Roboto;
  font-size: 14px;
  line-height: 100%;
  margin: 0 16px;
  outline: none;
  color: rgba(0, 0, 0, .87);
}
.search-bar > input::placeholder {
  color: rgba(0, 0, 0, .54);
}
.search-bar > .mdui-icon {
  margin: 0 16px;
}
.search-bar > .mdui-btn-icon {
  margin: auto 11px;
}
/*暗色模式支持*/
.mdui-theme-layout-dark .search-bar {
  background: #424242;
}
.mdui-theme-layout-dark .search-bar > input {
  color: white;
}
.mdui-theme-layout-dark .search-bar > input::placeholder {
  color: rgba(255, 255, 255, .70);
}

    .mdui-container,
    .mdui-container-fluid {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin-right: auto;
      margin-left: auto;
      padding-right: 8px;
      padding-left: 8px;
    }
  
    .mdui-container::after,
    .mdui-container-fluid::after {
      display: table;
      clear: both;
      content: '';
    }
     
    .mdui-container {
      width: 96%;
      max-width: 1280px;
    }
    @media (min-width: 600px) {
      .mdui-container {
        width: 94%;
      }
    }
    @media (min-width: 1024px) {
      .mdui-container {
        width: 92%;
      }
    }
    .mdui-tab-indicator {
      border-radius: 2px 2px 0 0;
      /* margin-left:4.5%; */
    }